PORT=5000
OPENAI_API_KEY=tu_api_key_aqui
GEMINI_API_KEY=tu_api_key_gemini_aqui
GOOGLE_SHEETS_ID=1l1GLMXh8_Uo_O7XJOY7ZJxh1TER2hxrXTOsc_EcByHo
GOOGLE_SERVICE_ACCOUNT_EMAIL=tu_email_de_servicio@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
