PORT=3001
OPENAI_API_KEY=tu_api_key_aqui
GOOGLE_SHEETS_ID=1l1GLMXh8_Uo_O7XJOY7ZJxh1TER2hxrXTOsc_EcByHo
GOOGLE_SERVICE_ACCOUNT_EMAIL=tu_email_de_servicio@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GMAIL_USER=tu_correo@gmail.com
GMAIL_APP_PASSWORD=tu_app_password_de_16_caracteres
